* { 
    margin: 0%;
    padding: 0%;
}
header {
    width: 100%;
    background-color: transparent;
    height: 70px;
}
.medida {
    width: 90%;
    height: 70px;
    background-color: transparent;
    margin: 0;
}
.logo {
    width: 40%;
    height: 70px;
    background: transparent;
    float: left;
    padding: 33px 100.33px;
    box-sizing: border-box;
    

}

nav {
    width: 60%;
    height: 70px;
    background-color:transparent;
    float: left;
    text-align: right;
    padding-top: 38px;
    box-sizing: border-box;

}

nav ul li {
    display: inline;
   
}

nav ul li a {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    padding-left: 16.5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.section1 {
    background-image: url(./Imagenes/slider-1.png);
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 768px;
}

h1{
    font-family: Poppins;
    color: #FFFFFF;
    letter-spacing: 0.67px;
    font-size: 48px;
    padding-top: 221px;
    margin-left: 101px;
    width: 554px;
    height: 115px;
}
 .p1{
    font-family: Roboto;
    color: #FFFFFF;
    letter-spacing: 0.22px;
    font-size: 16px;
    padding-top: 30px;
    margin-left: 101px;
    width: 343px;
    height: 42px;
 }
 .read{
    background-color: #E0752F;
    margin-top: 39px;
    margin-left: 101px;
    width: 144px;
    height: 48px;
    border-radius: 25px;
    border: none
   
 }